body {background-color: rgb(255, 255, 255);}

/*-------------------font and border------------------------*/

h1 {text-align: center; font-size: 40px;}
table {width: 100%; height:100%;  border-collapse: collapse;color: white;font-family: Arial, Helvetica, sans-serif;}
td {width: 5%; border: 2px solid white; position: relative;}
.no_border {border: none;}
.tab2 {margin-top: 2vh; margin-left: auto; margin-right: auto; width: 80%;font-family: Arial, Helvetica, sans-serif;}

/*-------------------text-------------------------*/

.masse {position: absolute; top: 0; right: 0; font-size: 1vw; font-style: italic}
.num {position: absolute; bottom: 0; left: 0; font-size: 1vw;}
.atome {font-size: 2.5vw;text-align: center;}
.number {font-size: 1.5vw; text-align: center}

/*-------------------colors-------------------------*/

.purple {background-color: #b128f0;}
.dark_green {background-color: #2a994c;}
.red {background-color: #f02828;}
.yellow {background-color: #d1d115;}
.green {background-color: #91ff9e;}
.orange {background-color: #e6844f;}
.pink {background-color: #f15fc6;}
.dark_blue {background-color: #4628f0;}
.blue {background-color: #2896f0;}
.grey {background-color: #5d5d5e;}

img {display: block; margin-left: auto; margin-right: auto; max-width: 25%; width: 350px;}
